<div class="d-flex justify-content-center text-center conte">


    <form class="p-5 bg-light" id="formulario">
        
    <h1>Formulario de peso</h1>

            <label class="la" >masa:</label>

              <input type="number" class="inp" id="masa" name="" >



            <button type="button" onclick="imprimirresultado()" id="enviar" >Enviar</button>
    </form>  



   





</div>


    <div class="tab">
    <table border="1" >
    <thead>
        <tr>
        <th> <img src="img/tierra.jpg" alt=""></th>
        <th><img src="img/marte.jpg" alt=""></th>
        <th><img src="img/luna.jpg" alt=""></th>
    </tr>
    </thead>

    <tbody>
        <tr>
         <td id="resultadoTierra" ></td>
         <td id="resultadoMarte"></td>
         <td id="resultadoLuna"></td>
        </tr>
    </tbody>
   
   </table>
</div>
   </div> 



