
.conte{
    margin-top: 75px;
}

inp{
    width: 50px;
    text-align: center;
    margin: 25px;
}

.la{
    text-align: left;
    margin-right: 25px;
    margin-top: 20px;
}


.tab{
    text-align: center;
    margin-top: 25px;
    margin-left: 200px;
} 